.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 92px;
}

@media screen and (max-width: 1023px) {
  .footer {
    margin-top: 88px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0;
  }
}
